.schedule-container {
    min-width: 800px;
    
}

#train-name-input {
max-width: 800px;
}


.input-container {
    min-width: 800px;
   max-width: 1000px;
}

#mainJumbotron {
    color: white;
    background: rgba(121, 70, 13, 0.877);
    max-width: 800px;
}

#the-table {
   padding: 20px;
   max-width: 800px;
}


body {
      
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
  }

table {
    border-collapse: separate;
    border-spacing: 6px;
}

.jumbotron {
    color: white;
    background-color: rgba(0,0,0,0.3);
    min-width: 800px;
}